
body {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  margin: auto;
}



header{
    background-color: #649bf4;
    overflow: hidden;

}

header a {
  display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #999999;
}

li.dropdown {
    display: inline-block;
}

nav > ul{
float:right;
}




.istanbul_main {
  text-align: center;
}
.istanbul_main img {
  height:590px;
  width:690px;
  padding: 20px;
  text-align: center;
}

.menemen img {
  height: 300px;
  widht:300px;
}

.menemenSection {
  border: 5px solid black;
}

.nightlifeSection {
  border: 5px solid black;
}

.nightlifeSection img {
  height: 300px;
  widht:300px;
}


@media screen and (min-width: 1200px) {
  li a {

    display: inline-block;

  }
}
