* {
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color:#5a5a5a;
  background-color: #E7E7E7;
}

.container {
  background:#fff;
  padding:10px;
  width:1080px;
  margin:0 auto;
}


.container nav {
  background-color: #aa0000;
  border-left:none;
  border-right:none;
  border-radius:10px;
  margin-top:10px;
}



.AnswersText {
    border: 1px solid black;
}

.askedBy {
  border: 2px solid black;
  float: left;

}

p1 {
  padding:20px;
}

.Answers {
  border: 1px solid black;
}

.Question {
  border: 1px solid black;
}

nav {
  display:list-item;
}
