{
    box-sizing:border-box;
}

body {
    font-family: arial;
    margin: 0 auto;
    margin-top: 10px;
    width: 960px;
}




.topNav {
    background-color: #a00;
    border-radius: 25px;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 6px;
    padding: 5px;
    text-align: center;
}

.topNav li a {
    color: #fff;
    padding: 12px;
}
