* {
    box-sizing:border-box;
}

.topbox {
  background-color: #CCCCCC;
  height:150px;
  width:350px;
}

.redbox a {
  text-decoration: none;
  color: #fff;
  text-align: center;

}

.redbox li {
  text-align: center;
  padding-top: 10px;
}

.redbox {

  background-color: #AA0000;
  width: 960px;
  height:38px;
}
